body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #0f1013;
    
}
.container{
    text-align: center;
    background-color: #13171a;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: white;
}

h1{
    text-align: left;
    padding-left: 7px;
    padding-top: 20px;
    color: white;
    font-weight: 1.5rem;
}
span{
    color: rgb(226, 75, 218);
    
}

h4{
    text-align: left;
    padding-left: 7px;
    padding-top: 0px;
    font-weight: lighter;
    color: #d8d8d8;
}

.password{
    justify-content: space-between;
    /* text-align: left; */
    align-items: center;
    display: flex;
    margin: 10px 0;
   
}

#wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
     padding-left: 7px; 
    
}

#password-length{
    border-radius: 5px;
    background-color: inherit;
    width: 230px;
    height: 20px;
    border: 1px solid rgba(122, 122, 122, 0.479);
    color: white;
    padding: 10px;
    margin-top: 6px;
    margin-left: 5px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: small;
    text-align: center;
    
}



#password-length:focus {
    border-color: #bf1ba9;
    box-shadow: 0 0 5px rgba(145, 27, 191, 0.5);
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-top: 9px;
    justify-content: space-between;
}

.checkbox-group input {
    margin-right: 40px;
}


#include-symbols,
#include-numbers {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(122, 122, 122, 0.479);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
    margin-top: 7px;
    margin-left: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

#include-symbols:checked,
#include-numbers:checked {
    /* background-color: #cb23d181; */
    background-color: inherit;
    border-color: #cb23d16c;
}

#include-symbols:checked::after,
#include-numbers:checked::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: rgb(142, 56, 153);
    border-radius: 1px;
    transition: background-color 0.3s;
}

hr{
    border: 0;
    height: 1px;
    background: linear-gradient(to right, #5c5c5cad, #5c5c5caf);
    margin: 7px 0;
    margin-top: 7px;
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
}




button{
    display: block;
    width: 100%;
   text-align: center;
   margin-top: 5px;
   border-radius: 7px;
   padding: 12px;
   background-color: #bf1ba9;
   border: none;
   color: white;
   font-size: smaller;
   font-weight: 200;
   font-family: "Outfit", sans-serif;
   cursor: pointer;
}

button:hover {
    background-color: #4f0c52;
    transition: 0.1s;
    
}

#field{
    display: flex;
    flex-wrap: wrap;
    gap: 47px;
    opacity: 0;
    transition: opacity 1s ease;
   
   
}


#passwordDisplay1, #passwordDisplay2{
     background-color: rgba(27, 27, 29, 0.664) ;
    border-radius: 3px;
    padding: 7px;
    width: 40%; 
  
    height: 25%;
    font-size: smaller;
    text-align: center;
    color: #9e19a5;
    
}

/* Restyle the spin buttons */
#password-length::-webkit-inner-spin-button,
#password-length::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    background-color: #c573c5; /* Change arrow background color */
    border-radius: 50%; /* Make the arrow circular */
    width: 20px; /* Adjust the width of the arrow */
    height: 20px; /* Adjust the height of the arrow */
    margin-left: 5px; /* Adjust spacing between button and input */
}

/* Adjust arrow color on hover */
#password-length:hover::-webkit-inner-spin-button,
#password-length:hover::-webkit-outer-spin-button {
    background-color: #b97db9; /* Change arrow background color on hover */
    cursor: pointer;
}

/* Adjust arrow color on focus */
#password-length:focus::-webkit-inner-spin-button,
#password-length:focus::-webkit-outer-spin-button {
    background-color: #c07ab7; /* Change arrow background color on focus */
}

#passwordDisplay1:hover, #passwordDisplay2:hover{
    cursor: pointer;
    color: #d31dbb;
    font-weight: bold;

}


.show {
    display: flex !important;
    opacity: 1 !important;
}

.show-hr {
    display: block !important;
    opacity: 1 !important;
}



